//== Base

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("/apps/mysite/clientlibs/clientlib-site/resources/fonts/Gilroy-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Displace Regular";
    src: url("/apps/mysite/clientlibs/clientlib-site/resources/fonts/Displace20-Regular.ttf") format("truetype");
}

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    background:  $color-background;

    @media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    }
}


a {
    color: $color-link;

    @media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}
